body{
    font-family: 'Josefin Sans', sans-serif !important; 
}
.tick-img{
    width: 15rem;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
   
}
h1{
    color: blue;

}
.send-btn{
    background-color: red !important;
    color: white;
    height: 4rem;
    width: 20rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.send-btn:hover{
    background-color: black !important;
}
